
*  {
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 100%;
    height: 60px;
    background-color: rgb(24, 24, 24);
    
}

.nav-bar h2{
    color: white;
    width: max-content;
    margin-left: 18px;
    padding-top: 6px;
    font-size: 40px;
    font-family: "Questrial";
    font-weight: 900;
    letter-spacing: -2px;
}

.nav-bar .links {
    display: flex;
    gap: 9rem;
    justify-content: center;
    list-style: none;
    color: white;
    margin-top: -25px;
    font-weight: 300;
    font-family: "Questrial";
}

.nav-bar .links a {
    color: white;
    text-decoration: none;
    padding-left: 10px;

}

.nav-bar .links i {
    font-size: 15px;

}
.toggle_btn{
    display: none;
}

.nav-bar .links a[href="Log In"] {
  background-color:  rgba(92, 92, 92, 0.6);
  padding: 14px;
  border-radius: 28px;
}

.basket-container{
  background-color: rgba(92, 92, 92, 0.6);
  width: max-content;
float: right;
  margin-top: -37px;
  height: 60.24px;
  text-align: right;
  color: white;
}

.basket-container h1{
  font-size: 15px;
  float: left;
  margin-left: 10px;
  font-family: "Questrial";
  margin-top: 20px;

}

.basket-btn i {
  font-size: 40px;
  color: white;
  margin-right: 10px;
  margin-top: 8px;

}

.basket-btn{
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}




.nav-bar .links a:hover{
    opacity: 0.8;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255 , 255 ,255 ,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;

}

.dropdown-menu.open{
    height: 200px;
}



.top-menu{
    background-color: black;
    border-top: solid white;
    border-bottom: solid white;;
    height: 60px;
}


.menu-advert h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: "Airstrike"
}

.menu-advert h3{
    font-size: 20px;
    text-align: center;
    font-family: "Airstrike";
    margin-top: 7px;
}

.search-wrapper{
margin-top: -12px;
 float: right;
 margin-right: 19px;
}

.search-form i{
  font-size: 24px;
  cursor: pointer;
  color: white;
 
}

.search-btn{
  margin-top: -27px;
  background-color: rgba(92, 92, 92, 0.6);
  border: none;
border-radius: 24px;
  padding: 12px;
}

.search-form input{
  display: none;
}

.advertisement{
  height: 50px;
  width: 100%;
  background-color: rgb(207, 40, 40);
  text-align: center;

}

.advertisement h1{
  font-size: 15px;
  font-family: "Questrial";
  vertical-align: center;
  padding-top: 17px;

}

.choice-container{
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);

}


.choice-container .choice-bar{
    display: flex;
    gap: 7rem;
    list-style: none;
    color: white;
}

.choice-bar li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.choice-bar li a:hover{
    border-bottom: 2px solid white;
    transition-delay: 0.05s;
}

.main-img{
    height: 700px;
    background-image: url("https://i2-prod.business-live.co.uk/incoming/article17823824.ece/ALTERNATES/s1200b/0_WAU-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-img h1{
    font-size: 60px;
    padding-top: 250px;
    padding-left: 50px;
    font-family: "Doctor Glitch";
    background: -webkit-linear-gradient(yellow,rgb(207, 40, 40));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-img h2{
    color: white;
    font-size: 30px;
    padding-left: 47px;
    font-weight: 300;
    font-family: "Airstrike"

}
.main-img p{
    color: white;
    font-size: 30px;
    padding-left: 220px;
    font-weight: 300;
    font-family: "Airstrike"
}



.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
}

.discover-bikes {
    padding: 1.5rem 2em;
    margin-top: 70px;
    width: 190px;
    margin-left: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 3;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 17px;
    font-family: "Questrial";
  }
  
  .discover-bikes:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .discover-bikes:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 30px;
  }

  .why-electric {
    padding: 1.5rem 2em;
    margin-top: 70px;
    width: 190px;
    margin-left: 50px;
    border: none;
    outline: none;
    color: black;
    background-image: linear-gradient(to right, #FFA248 ,  rgb(207, 40, 40) 60%);
    border: solid px black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 17px;
    font-family: "DIN Alternate";
    z-index: 3;
  }

  .mid-section{
    background-color: white;
    height: 450px;
    display: flex;
  }

  .mid-section h1{
    font-family: "Airstrike";
    font-size: 70px;
    padding-top: 20px;
    padding-left: 40px;
    z-index: 1;
    position: absolute;
    color: rgb(34, 34, 34);
    
  }
  .mid-section h2{
    font-family: "Questrial";
    margin-top: 80px;
    float: left;
    position: absolute;
    font-style: bold;
    z-index: 1;
    margin-left: 51px;
    color: rgb(24, 24, 24);
  }

  .img-example{
    background-image: url("https://media.4rgos.it/i/Argos/9195174_R_Z001A?w=750&h=440&qlt=70");
    height: 450px;
    background-size: contain;
    width: 800px;
    position: absolute;
    z-index: 0;
    right: 0;
    margin-right: -30px;
    background-repeat: no-repeat;
  }

  .mid-section p{
    font-family: "Questrial";
    margin-top:250px;
    font-size: 30px;
    float: left;
    position: absolute;
    z-index: 1;
    margin-left: 51px;
    color: rgb(24, 24, 24);
  }

  .bike-btn, .e-bike-btn {
    font-family: "Questrial";
    padding: 30px;
    font-size: 18px;
    width: 200px;
    background: none;
    border-radius: 60px;
    border: none;
    z-index: 2;
    background: #222;
    text-align: center;;
    color: white;
    cursor: pointer;

  }

  .bike-btn, .e-bike-btn span {
    text-align: center;
    display: block;
  }
  
  .bike-selections {
    height: max-content;
    display: flex;
    gap: 3rem;
    margin-left: 40px;
    margin-top: 300px;

  }

  @media (max-width: 770px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
        display: block;
    }

    .menu-advert{
        width: 100%;
        margin-left: 0;
        margin-top: -11px;
   
    }
    .search-container{
        margin-left: 220px;
        margin-top: -53px;
        width: 50%;
        display: flex;
    }

    .s-form{
        border-radius: 12.5px;
        height: 25px;
    }
    input{
        height: 21.25px;
        border-radius: 10px;
    }
    .fa{
        height: 23px;
        border-radius: 50%;
        width: 24.25px;
        padding-left: 6px;
        padding-top: 6px;
        font-size: 13px;
        margin-top: -3px;

    }
    .choice-container .choice-bar li{
        width: 4px;
        float: left;
    }
    .choice-container{
       padding-right: 100px;
    }
    .choice-container .choice-bar{
        display: flex;
        gap: 6rem;
        list-style: none;
        color: white;
    }
    .main-img h1{
        font-size: 50px;
    }
    .main-img h2{
        font-size: 25px;
    }
    .main-img p{
        font-size: 25px;
    }
    .why-electric{
        font-size: 14px;
    }
    .discover-bikes{
        font-size: 14px;
    }
  }

.bottom-container{
  height: 600px;
  position: relative;
  background-color: rgba(82, 82, 82, 0.3);
  justify-content: center;
  align-items: center;
}

.bottom-container-text h1{
  font-family: "Questrial";
  color: white;
  float: left;
  margin-left: 49px;
  padding-top: 40px;
  font-size: 35px;
}



  #carousel {
    padding-top: 500px;
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 400px;
    transition: width 400ms;
     -webkit-user-drag: none;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     border-radius: 10px;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel img:hover {
    cursor: pointer;
  }
  #carousel div.prev img {
    width: 300px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
  }
  
  /*previous or next buttons css*/
  

  .bottom-options{
    height: 350px;

  }

  .bottom-box-area{
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 3rem;
    
  }

  .bottom-box-area li{
    border: 1px solid white;
    width: 300px;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Squarefont";
    position: relative;
}

.cycle-routes{
    background-image: url("https://media.istockphoto.com/id/945042798/photo/mountain-biker-riding-on-bike-on-forest-dirt-trail.jpg?s=612x612&w=0&k=20&c=wAxWnjVINkH_GVEOGxrcg5TTcaFoEivl1ihtoVkZUtI=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;

}
.bottom-box-area li p{
  font-size: 20px;
  position: absolute; 
  text-align: center;
  padding: 10px; 
  display: none;
  color: white;
  z-index: 1;
}

.bottom-box-area li:hover .title {
  visibility: hidden;
}

.bottom-box-area li:hover p{
  display: block;
  background-color: rgba(82, 82, 82, 0.6);
  transition-timing-function: ease-in;
  transition-delay: 0.1s;
 

}



.electric-bikes{
    background-image: url("https://s14761.pcdn.co/wp-content/uploads/sites/2/2020/02/Lithium-Ionen-Batterie-EMTB-6-1140x760.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.manual-bikes{
    background-image: url("https://cdn.shopify.com/s/files/1/2976/1964/files/cornering.jpg?v=1668756209&width=1500");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.payment-options{
    background-image: url("https://paysimple.com/blog/wp-content/uploads/2017/01/iStock-1164946738-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;

}
.promote{
    height: 70px;
    margin-top: -435px;

   
}
.promote h3{
    font-size: 25px;
    margin-left: 10%;
    color: white;
    font-family: "Squarefont";
    letter-spacing: 4px;
    text-decoration: solid white underline;
}

.promote p{
    font-size: 15px;
    margin-left: 20%;
    color: white;
    font-weight: 500;
    text-decoration: solid white underline;
}

.footer-container{

    height: 400px;
    background-color: red;
    display: flex;
    gap: 185px;

}
.explore{
    margin-left: 125px;
    list-style: none;
}

.explore li{
   padding-bottom: 20px;
}

.explore h3{
    padding-top: 40px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: "Squarefont";

}

.contact-us{
    list-style: none;
    margin-left: -80px;

}

.contact-us h3{
    padding-top: 40px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: "Squarefont";
}

.contact-us li{
    padding-bottom: 20px;
 }

 .news-container{
    width: 30%;
    height: 220px;
 }

 .news-container h3{
    margin-top: 40px;
    font-family: "Squarefont";
    font-size: 20px;

 }

 .news-container p{
    padding-top: 2px;
    font-size: 15px;

 }
 .form-email{
    width: 300px;
 }

.form-email input[type="email"]{
    height: 21px;
    width: 200px;
    padding: 5px;
    border: none;
    margin-top: 17px;
    padding-bottom: 7px;
    border-radius: 3px;
    position: relative;

}

.form-email .email-btn{
    height: 34px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 12px;
    padding-right: 10px;
}

.socials{
    height: 120px;
    width: 300px;
    position: absolute;
    margin-top: 250px;
    left: 350px;

}

.socials h3{
    font-family: "Squarefont";
    margin-top: 6px;
    font-size: 20px;
    letter-spacing: 2px;
}

.social-links {
    margin-top: 20px;
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 40px;
    color: white;
}




@media (max-width: 950px){
  .socials{
    display: none;
  }
  .news-container{

    justify-content: left;
    margin-left: -400px;
    margin-top: 200px;
    width: 300px;
    
  }
}

@media (max-width: 1130px){
  .search-wrapper{
    display: none;
  }
}



@media (max-width: 1000px){
  .basket-container{
    margin-right: 0px;
  }
  .nav-bar .links{
    gap: 6rem;
  }
}

@media (max-width: 880px){
  .basket-container{
    display: none;
  }
  .nav-bar .links{
    display: none
  }
  .toggle_btn {
    color: white;
    float: right;
    margin-top: -51px;
    margin-right: 10px;
    font-size: 30px;
    display: block;
}

}

body {
  background-color: black;;
}

@media (max-width: 1000px){
.choice-container{
 display: none;
}
}